.wrapper {
	padding: 0px;
}

.form-daftar-online {
	width: 640px;
	margin: auto;
	float: none !important;
	padding: 0px !important;
	margin-bottom: 60px !important;
	margin-top: 60px !important;
}

.center {
	float: none !important;
	margin: auto;
	width: 300px !important;
	float: none !important;
}

/*.daftar_group {
	width: 940px !important;
	margin: auto;
	float: none !important;
	padding: 0px !important;
	margin-bottom: 60px !important;
	margin-top: 60px !important;
}*/

.content_input {
	border: 1px solid #ddd;
	border-top: none !important;
}

.form-daftar-offline {
	width: 640px;
	margin: auto;
	float: none !important;
	padding: 0px !important;
	margin-bottom: 60px !important;
	margin-top: 60px !important;
}

.daftar_group {
	width: 940px !important;
	margin: auto;
	float: none !important;
	padding: 0px !important;
	margin-bottom: 60px !important;
	margin-top: 60px !important;
}

.margin_panel {
	margin-top: 15px !important; 
}

.title-daftar {
	/*font-weight: bold;*/
	font-size: 20px !important;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	
}

.nama_group {
	padding: 0px !important;
}

.input_group {
	padding: 0px !important;
	margin: 0px 7px;
}

.input_data {
	padding: 0px !important;
}

.daftar {
	padding: 25px !important;
}

.margin {
	margin-bottom: 15px !important;
}

.input {
	height: 40px !important;
}

.btn-daftar {
	text-align: center;
}

.peringatan-test {
	color: #a94442 !important;
}

.btn-test {
	padding: 0px !important;
	margin-bottom: 15px;
}


.panel-primary > .panel-heading {
    background-color: #235AA3 !important;
}

.btn-primary {
    background-color: #235AA3 !important;
    border-color: #235AA3 !important;
}

.btn-primary:hover {
    background-color: #094A81 !important;
    border-color: #094A81 !important;
}

.border {
	border: 1px solid black;
}

.img_level {
	margin-bottom: 10px;
	text-align: center;
}

.text_level {
	text-align: center;
}

@media only screen and (max-width: 922px) {

	
}

@media only screen and (max-width: 768px) {
	.img_level {
		padding-left: 0px !important;
		padding-right: 0px !important; 
	}

	.text_level {
		padding-left: 0px !important;
		padding-right: 0px !important; 
	}

	.daftar {
		padding: 10px !important;
	}

	.daftar_group {
		width: 100% !important;
	}
}

